h1{
    font-weight: bolder;
    border: black solid 2px;
}

h1:hover{
    color: green;
}

p{
    text-decoration:underline;
    border: 5px solid black;
}

p:hover{
    background-color: yellow;
}

h2{
    font-weight: bolder;
    border: black solid 10px;
}

h2:hover{
    color: green;
}

img:hover{
    border: blue solid 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}